[Unit]
Description=Renew KP-MAX TLS certificate
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/certbot/bin/certbot renew --quiet
ExecStartPost=/usr/bin/systemctl reload nginx
